<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document31231</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/uikit@3.6.15/dist/css/uikit.min.css" />
    <script src="https://unpkg.com/uikit@3.6.15/dist/js/uikit.min.js"></script>
    <script src="https://unpkg.com/uikit@3.6.15/dist/js/uikit-icons.min.js"></script>
</head>
<body>

<div id="app">
    <bind></bind>



</div>
<script src="../dist/vue-bind.umd.js"></script>
<script>
    a = new Vue({
        el: "#app",
        data: {

        },
        methods: {

        }
    })
</script>
</body>
</html>
